services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/sentinelql
      SPRING_DATASOURCE_USERNAME: sentinel
      SPRING_DATASOURCE_PASSWORD: sentinel
      JWT_SECRET: please-change-this-with-a-long-random-secret
      SPRING_PROFILES_ACTIVE: prod
    depends_on:
      - db

  db:
    image: mysql:8.4
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: sentinelql
      MYSQL_USER: sentinel
      MYSQL_PASSWORD: sentinel
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
